@font-face {
  font-family: "Poppins";
  src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: "Poppins Bold";
  src: url('./fonts/Poppins-SemiBold.ttf');
}

:root {
  --bg-clr: hsl(0, 100%, 74%);
  --btn-clr: hsl(154, 59%, 51%);
  --card-form-clr: rgb(255, 255, 255);
  --card-offer-clr: hsl(248, 32%, 49%);
  --text-header-clr: rgb(255, 255, 255);
  --text-offer-clr: rgb(255, 255, 255);
  --text-input-clr: hsl(249, 10%, 26%);
  --text-input-active-clr: hsl(0, 0%, 15%);
  --text-input-failed-clr: hsl(0, 100%, 74%);
  --text-input-btn-clr: rgb(255, 255, 255);
  --text-footer-clr: hsl(246, 25%, 77%);
  --text-footer-hl-clr: hsl(0, 100%, 74%);
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px black solid; */
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background: var(--bg-clr);
  background-size: cover;
  font-family: Poppins, sans-serif;
}

h1,
input,
button {
  font-family: "Poppins Bold", sans-serif;
}

button {
  cursor: pointer;
}

main {
  display: flex;
  flex: 1;
  width: 100%;
  position: relative;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  align-items: center;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.content {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 100%;
  position: relative;
  margin-block: clamp(5rem, 5rem, 10rem);
}

.content > * {
  flex: 1;
  max-width: 500px;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  color: var(--text-header-clr);
  gap: 2rem;
}

.header-title {
  line-height: 3rem;
}

.card-ctn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.card {
  display: flex;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 10px #0002;
  position: relative;
}

.card-offer {
  background: var(--card-offer-clr);
  padding: 1rem;
  color: var(--text-offer-clr);
}

.card-offer > p {
  width: 100%;
  text-align: center;
}

.card-form {
  background: var(--card-form-clr);
  padding: 2rem;
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group,
.input-field,
.input-invalid,
.input-btn {
  transition: all 0.2s ease-in-out;
}

.input-field:focus,
.input-btn:focus,
.input-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1rem #0004;
}

.input-field {
  width: 0;
  min-width: 100%;
  padding-inline: 2rem;
  padding-block: 1rem;
  border: 1px solid var(--text-input-clr);
  border-radius: 0.25rem;
}

.input-invalid {
  text-align: right;
  color: var(--text-input-failed-clr);
  font-style: italic;
}

.input-btn {
  padding: 1rem;
  background: var(--btn-clr);
  border: none;
  border-radius: 0.3rem;
  box-shadow: inset 0 -5px #0002;
  text-transform: uppercase;
  color: var(--text-input-btn-clr);
}

.input-btn:focus,
.input-btn:hover {
  filter: brightness(110%);
}

.input-footer {
  text-align: center;
  color: var(--text-footer-clr);
}

.input-footer > span {
  font-family: "Poppins Bold", sans-serif;
  color: var(--text-footer-hl-clr);
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.input-footer > span:hover {
  text-decoration: underline dotted;
  filter: brightness(80%);
}

footer {
  margin-top: auto;
  padding: 0.25rem;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  body {
    background-image: url('images/bg-intro-mobile.png');
  }

  .content {
    flex-direction: column;
    gap: 4rem;
    margin-block: 4rem;
  }

  .header {
    text-align: center;
  }
}

@media (min-width: 769px) {
  body {
    background-image: url('images/bg-intro-desktop.png');
  }

  .header-title {
    font-size: 3rem;
  }
}