@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins-Regular.ttf');
}

:root {
  --bg-clr: hsl(0, 100%, 74%);
  --btn-clr: hsl(154, 59%, 51%);
  --card-form-clr: hsl(0, 100%, 100%);
  --card-offer-clr: hsl(248, 32%, 49%);
  --text-input-clr: hsl(249, 10%, 26%);
  --text-input-active-clr: hsl(0, 0%, 15%);
  --text-input-failed-clr: hsl(0, 100%, 74%);
  --text-footer-clr: hsl(246, 25%, 77%);
  --text-footer-hl-clr: hsl(0, 100%, 74%);
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px black solid;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background: var(--bg-clr);
  background-size: cover;
  font-family: Poppins, sans-serif;
}

main {
  display: flex;
  flex: 1;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 2rem;
  align-items: center;
}

.content {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1440px;
}

.content > * {
  flex: 1;
  max-width: 600px;
}

footer {
  margin-top: auto;
  padding: 0.25rem;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  body {
    background-image: url('images/bg-intro-mobile.png');
  }

  .wrapper {
    margin-block: 4rem;
  }

  .content {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  body {
    background-image: url('images/bg-intro-desktop.png');
  }
}